h1 {
    color: white;
}

/* * {
    border: solid;
} */

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    padding: 50px 10px 30px 40px;
    background-color: blue;
    font-size: 20px;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
body{
    background-color: #828282
}
.game{
    padding: 50px;
    margin: 100px ;
    font-size:20 ;
    
    font-family: fantasy;
    background-color: yellow;
    border: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}